.input-inner {
    height: 36px;
    border-radius: 3px;
    font-size: 16;
    padding: 0px 17px;
    background-color:#F9FAFC;
    border: 2px solid #E1E7EE;
}

.readonly-input__outside {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: inherit;
}
