.compendium__tabs {
  display: flex;
  align-items: flex-end;
  margin-top: 23px;
}

.compendium__tabs-tab {
  width: 261px;
  background-color: #ebeff3;
  color: #8e9cac;
  padding: 17px 40px;
  font-size: 16px;
  border-radius: 3px 0;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.07);
  margin: 0 15px;
}

.compendium__tabs-active-tab {
  width: 292px;
  padding: 27px 30px 16px;
  background-color: #fff;
  font-size: 16px;
  border-radius: 3px 0;
}
