.main__container {
  margin: 72px auto;
  /* max-width: 1052px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main__container-diagram {
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  height: 750px;
}

.main__container-search {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.main__container-search-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 101px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.main__container-search-result {
  height: 200px;
  overflow-y: auto;
  border-radius: 10px;
  margin-top: 30px;
}

.main__container-search-result-inner {
  overflow-y: auto;
}

.main__container-search-result-inner:-webkit-scrollbar {
  display: none;
}

.main__container-search-result-card {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.main__container-search-result-card-data {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  font-size: inherit;
}

.main__container-search-triangle {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  margin-bottom: 23px;
  border-radius: 5px;
}
