.brand-page__viewport {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  overflow-y: auto;
  height: 100%;
}

.brand-page__data-left {
  max-width: 448px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.brand-page__container {
  margin: 10px 60px;
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.brand-page__header {
  display: flex;
  align-items: center;
}

.brand-page__header-back-button {
  display: flex;
  font-size: 13px;
  margin-left: 55px;
}

.brand-page__data-left-no-image {
  width: 450px;
  height: 300px;
  background-color: #e1e7ee;
  border-radius: 5px;
  margin-bottom: 5px;
}

.brand-page__data-left-image {
  width: 450px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.brand-page__data-right-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
