.viewport__viewport {
  max-width: 1320px;
  margin: 0 auto;
  overflow: hidden;
}

.viewport__header {
  height: 118px;
  display: flex;
  align-items: flex-end;
  border-bottom: 3px solid #E0E7EE;
  padding-bottom: 24px;
}

.viewport__header-buttons {
  display: flex;
  justify-content: space-around;
  width: 126px;
}

.viewport__header-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 200px;
}

.viewport__sections {
  display: flex;
}

.viewport__aside {
  width: 234px;
  display: flex;
  flex-direction: column;
}

.viewport__link {
  color: #19120c;
  opacity: 40%;
}

.viewport__link-active {
  color: #032041;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #032041;
  opacity: 100%;
}

/* a:active {
  text-decoration: none;
  color: #032041;
} */

.viewport__content {
  max-width: 1320px;
  height: 835px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
