.compendium__table-item {
  display: grid;
  height: 70px;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  font-size: 18px;
}

.compendium__table-item:not(:first-child) {
  border-top: 1.6px solid #ebeff3;
}

.compendium__table-header {
  font-size: 20px;
  text-align: center;
  margin: 40px auto;
}

.compendium__table-container {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  overflow-y: auto;
  height: 100%;
}

.compendium__viewport::-webkit-scrollbar {
  display: none;
}

.compendium__table-container::-webkit-scrollbar {
  display: none;
}

.compendium__table-inner-container {
  max-width: 945px;
  margin: 0 auto;
}

.compendium__table-item-item {
  font-size: 18px;
}
